@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
